<nav id="sidebar" class="sidebar">
        <a class="sidebar-brand" href="index.html">
          <svg>
            <use xlink:href="#ion-ios-pulse-strong"></use>
          </svg>
          ESTUDIANTE
        </a>
        <div class="sidebar-content">
          <div class="sidebar-user">
            <img
              src="https://scontent.fuio1-2.fna.fbcdn.net/v/t1.6435-9/190772671_4125672820812268_2076473145633889857_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=be3454&_nc_ohc=oI1I1vuWd9EAX_6i7qh&_nc_ht=scontent.fuio1-2.fna&oh=00_AfBdAf5LfJg291c6sczOZQ6jIGSY-ZX-YbqJmSA1TAW5EA&oe=65E26959"
              
              class="img-fluid rounded-circle mb-2"
              alt="Linda Miller"
            />
            <div class="fw-bold">Andres Lopez "Chento"</div>
          </div>
          <ul class="sidebar-nav">
            <li class="sidebar-header">Main</li>
            <li class="sidebar-item active">
              <a
                data-bs-target="#dashboards"
                data-bs-toggle="collapse"
                class="sidebar-link"
              >
                <i class="align-middle me-2 fas fa-fw fa-home"></i>
                <span class="align-middle">Menu</span>
              </a>
              <ul
                id="dashboards"
                class="sidebar-dropdown list-unstyled collapse show"
                data-bs-parent="#sidebar"
              >
                <li class="sidebar-item">
                  <a class="sidebar-link" href="/type"
                    >REGISTRAR TIPOS DE TAREA</a>
                </li>
                
                
                <li class="sidebar-item">
                  <a class="sidebar-link" href="/filtrar"
                    >MOSTAR DEPARTAMENTO</a
                  >
                </li>
                <li class="sidebar-item">
                  <a class="sidebar-link" href="/ordenar"
                    >ORDENAR POR FECHA</a
                  >
                </li>
                <li class="sidebar-item">
                  <a class="sidebar-link" href="/calcular"
                    >CALCULAR SALRIOS</a
                  >
                </li>
                <li class="sidebar-item active">
                  <a class="sidebar-link" href="/"
                    >SALIR</a
                  >
                </li>
              </ul>
            </li>
          </ul>
          
        </div>
      </nav>
